body{
	font-family: "华文行楷";
	font-size: 1.5em;
	margin: 3%;
	background-color: #dfe9e0;
	min-width: 1250px;
	min-height: 490px;
	/* border-color: #FF0000;
	border-style: solid;
	border-width: 2px; */
}
#item_ttl{
	font-size: 1.7em;
	padding-left: 3%;
	padding-top: 3%;
	padding-bottom: 2%;
}
#all{
	display: table;
}
#first_dec,#second_dec{
	display: inline; 
	width: 40px;
	font-size: 1.4em;
}
#first_dec{
	position: fixed;
	right: 5%;
	top: 15%;
}
#second_dec{
	position: fixed;
	right: 8%;
	top: 30%;
}
#row_1{
	display: table-row;
}
#navigation_left{
	display: table-cell;
	width: 900px;
}
#navigation_right{
	display: table-cell;
	width: 250px;
	text-align: right;
}
#navigation{
	font-size: 1.4em;
	color: #A9A9A9;
}
#index,#forum,#shops,#popularization,#hairstyle,#login,#register{
	text-decoration: none;
	margin-left: 4%;
	color: #484891;
}
#shops{
	color: burlywood;
}
#recommender{
	position: fixed;
	left: 3%;
	top: 35%;
	max-width: 265px; 
}
#shop_recommend{
	margin-left: 15%;
	padding: 4%;
	padding-bottom: 2%;
}
#shop_name,#address,#plant,#skey,#shop_description,#sprice{
	padding: 0.5%;
}
#address{
	/*display: inline;*/
}
#i_address,#i_plant,#i_popularization_name,#i_shop_name,#i_sprice{
	font-size: 1em;
	font-family: "隶书";
}
#i_address{
	width: 87%;
}
#i_sprice{
	width: 74%;
}
#i_plant,#i_shop_name{
	width: 77%;
}
#shop_description{
	font-size: 1em;
	font-family: "隶书";
	padding: 0.5%;
	width: 87%;
	height: 600px;
}
.radio{
	padding-left: 5%;
}
#add_shop_b{
	font-family: "隶书";
	font-size: 1em;
	margin-left: 40%;
}